body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    /* background-color: peru; */
}
.half-width img{
    width: 90%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    /* border: 1px solid red; */
    background-repeat: no-repeat;
}
section {
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    /* border: 1px solid red; */
}
#dream-profile{
    width: 100%;
}
.margin-padding{
    margin-left: 5%;
    padding: 2%;
}
.same-style-class{
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
    height: 70%;
    background-color: white;
    padding: 1%;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, orange);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(0deg, cyan, blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 15px;
}